.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__wi6DQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-nuOUNHUMRHTN);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__wi6DQ:hover {
  color: var(--token-0N06cGmfIwt5);
}
.img__xEoSe {
  object-fit: cover;
}
.img__xEoSe > picture > img {
  object-fit: cover;
}
.img__x2SsZ {
  object-fit: cover;
}
.img__x2SsZ > picture > img {
  object-fit: cover;
}
.link__aKakj {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__aKakj:hover {
  color: var(--token-0N06cGmfIwt5);
}
.link__v9Ovn {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__v9Ovn:hover {
  color: var(--token-0N06cGmfIwt5);
}
.link__pn4Er {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__pn4Er:hover {
  color: var(--token-0N06cGmfIwt5);
}
.link__t9GAe {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__t9GAe:hover {
  color: var(--token-0N06cGmfIwt5);
}
