.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  row-gap: 16px;
  min-width: 0;
  padding: 50px 40px 146px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    width: 100%;
    min-width: 0;
    padding: 20px;
  }
}
.freeBox__jkRlp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jkRlp {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 8px;
  }
}
.link__chW0 {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-0N06cGmfIwt5);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__chW0 {
    padding-left: 18px;
    padding-right: 18px;
    margin: 0px;
  }
}
.link__suUdo {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__suUdo:hover {
  color: #e76385;
}
.link__gIgTq {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__gIgTq:hover {
  color: #e76385;
}
.link___0BfF0 {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___0BfF0:hover {
  color: #e76385;
}
.link__yp5LV {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__yp5LV:hover {
  color: #e76385;
}
.columns___2BnwM {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px;
}
.columns___2BnwM > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___2BnwM > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2BnwM {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2BnwM > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hoiSf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hoiSf {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__j9GI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j9GI {
    width: auto;
    padding: 3px;
  }
}
.link___2SH {
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.link___7Ew5D {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: 0px;
}
.instaPng {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.instaPng > picture > img {
  object-fit: cover;
}
.link__dXOG {
  position: relative;
  display: flex;
  cursor: pointer;
  margin: 0px;
}
.img___1ZWx {
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img___1ZWx > picture > img {
  object-fit: contain;
}
.link__eaJIl {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: 0px;
}
.img__jf2Gk {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img__jf2Gk > picture > img {
  object-fit: cover;
}
.column__q2Txx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__q2Txx {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__tJzlU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tJzlU {
    justify-content: flex-start;
    width: auto;
  }
}
.img__hZt3Z {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__hZt3Z > picture > img {
  object-fit: contain;
}
.text__apA0O {
  position: relative;
  align-self: center;
  padding-left: 30px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1920px;
  background: #fafafa;
  min-width: 0;
  padding: 8px;
}
.columns__a2CNh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px 40px;
}
.columns__a2CNh > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__a2CNh > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__a2CNh > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a2CNh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a2CNh > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__shJ9T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___42XXi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  min-width: 0;
}
.column__glAvg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pxDNq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__thIlt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__t8IOs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
