.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    border: 1px solid #222222;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.projectHeader:global(.__wab_instance) {
  position: relative;
}
.section__fgGcO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__fgGcO {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.img__jqLc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 700px;
  min-width: 0;
  flex-shrink: 0;
}
.img__jqLc > picture > img {
  object-fit: cover;
}
.section__jO27 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  row-gap: 16px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 120px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__jO27 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__w5D2N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w5D2N {
    padding-left: 8px;
  }
}
.h3__yxNs {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__yxNs {
    font-size: 40px;
  }
}
.text__nfNh7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__zgRdw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zgRdw {
    padding-left: 8px;
  }
}
.h3__loUkz {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__loUkz {
    font-size: 40px;
  }
}
.text__zqWb4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__quLLc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__quLLc {
    padding-left: 8px;
  }
}
.h3__juWXh {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__juWXh {
    font-size: 40px;
  }
}
.text___3NFh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section___14DXc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 120px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___14DXc {
    padding-top: 150px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__i9QFs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i9QFs {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__nrtrP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__nrtrP > picture > img {
  object-fit: cover;
}
.columns___64VU3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 60px;
  min-width: 0;
  --plsmc-rc-col-gap: 60px;
  padding: 60px 0px 0px;
}
.columns___64VU3 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___64VU3 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___64VU3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    min-width: 0;
    --plsmc-rc-col-gap: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___64VU3 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eEk4L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img__zZUt2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img__zZUt2 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zZUt2 {
    height: 300px;
    flex-shrink: 0;
  }
}
.column___2EvYm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2EvYm {
    padding: 0px;
  }
}
.img__zwWPl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img__zwWPl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zwWPl {
    height: 300px;
    flex-shrink: 0;
  }
}
.freeBox___0YUa2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0YUa2 {
    padding-left: 8px;
  }
}
.h3__kW7TU {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__kW7TU {
    font-size: 40px;
  }
}
.text__hjlmR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__mwWeX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 0px 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__mwWeX {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox___3CtNf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3CtNf {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__mkT9Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__mkT9Z > picture > img {
  object-fit: cover;
}
.freeBox__bN7Sn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bN7Sn {
    padding-left: 8px;
  }
}
.h3__uluLv {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__uluLv {
    font-size: 40px;
  }
}
.text__oIUu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__za8AY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 150px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__za8AY {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
.freeBox__evfQe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 40px;
  }
}
.columns__dWq6V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns__dWq6V > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dWq6V > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dWq6V {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dWq6V > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8W7Nh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard__mwJVa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__snMv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard__gSbYa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 90px;
}
.contactSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
